body {
    background: gray;
    border: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*      HEADER      */  
header {
    background: white;
    width: 100%;
    height: 70px;
}

.intesta {
    position: relative;
    left: 1%;
}

.logo {
    position: absolute;
    top: 10px;
}

.title {
    position: absolute;
    left: 5%;
    top: 0;
    margin: auto;
    font-size: 200%;
    line-height: 70px;
}

/*      MAIN        */
/*BOX-1 E BOX-2*/
.box-1 {
    display: inline-block;
    position: absolute;
    right: 20%;
    background: white;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px 15px 0px 0px;
}

#addtask {
    background: rgb(83, 158, 243);
    border-radius: 5px;
    color: white;
}

#selection {
    background: white;
    border-radius: 5px;
    color: lightgray;
}

.box-2 {
    display: inline-block;
    position: absolute;
    top: 18.4%;
    right: 20%;
    background: white;
    width: 60%;
    margin: auto;
    margin-top: 1px;
    border-radius: 0 0px 15px 15px;
    font-size: 150%;
}

#upcoming, #today, #newtask {
    list-style-type: none;
}

/* STICKER A FINE RIGA */
.mobile,.website,.editorial,.recluting {
    border-radius: 10px;
    font-size: 60%;
}

.mobile {
    background: rgb(122, 233, 128);
}

.website {
    background: cyan;
}

.editorial {
    background: darkorange;
}

.recluting {
    background: blue;
    color: white;
}
